$font-size-common = 16px
$font-base-path = '~@/assets/fonts/'
#app
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
get-font-path(path)
    url($font-base-path + path)
font-face-config(name)
    // 阿里普惠体引入@font-face通用函数
    font-family: name
    font-display: swap
    src: get-font-path(name + '/webfont.eot')
    src: get-font-path(name + '/webfont.eot?#iefix') format('embedded-opentype'),
        get-font-path(name + '/webfont.woff2') format('woff2'),
        get-font-path(name + '/webfont.woff') format('woff'),
        get-font-path(name + '/webfont.ttf') format('truetype'),
        get-font-path(name + '/webfont.svg#webfont') format('svg')
    // @font-face 是 css3 规则
    // 指定名为"ali-light"的字体，并指定在哪里可以找到它的URL
    // https://www.runoob.com/cssref/css3-pr-font-face-rule.html
@font-face
    font-face-config: 'ali-light'
@font-face
    font-face-config: 'ali-regular'
font-common(name, fontsize = $font-size-common)
    font-family: name !important
    font-size: fontsize
    font-style: normal
.ali-light
    font-common: 'ali-light'
.ali-regular
    font-common: 'ali-regular'

